<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.keruiyun.saike"
    android:versionCode="26"
    android:versionName="v4.4.1">

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="23" />
    <!-- 蓝牙 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- 时区 -->
    <uses-permission android:name="android.permission.SET_TIME_ZONE" />

    <!-- wifi -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- wifi android.permission.WRITE_SECURE_SETTINGS -->
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 写联系人权限 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!-- 拨打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 使用网络功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- SDK离线地图和cache功能需要读写外部存储器 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 获取设置信息和详情页直接拨打电话需要以下权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".main.MainApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme_Black">

        <!-- 配置APP ID -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="8bf63ee3b8" />
        <!-- 配置APP版本号 -->
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="1.0" />
        <!-- 配置APP渠道号 -->
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="Saike" />
        <!-- 配置Bugly调试模式（true或者false） -->
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="false" />

        <!--
        <activity
            android:name=".ClockActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name=".CountDownDialogActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@style/customDialog"></activity>
        <activity
            android:name=".DateDialogActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@style/customDialog"></activity>
        <activity
            android:name=".TimeDialogActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@style/customDialog"></activity>
        <activity
            android:name=".TimeSettingDialogActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@style/customDialog"></activity>
        -->


        <!-- android:name=".main.MainActivity" -->
        <activity
            android:name=".main.MainActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name=".receiver.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".serialservice.SerialSaunaService" />

        <!-- 音乐播放器start -->

        <service android:name="com.music.musicplayer.service.MusicService" />
        <!-- 音乐播放器end -->

        <!--5分钟后退出账户-->
        <receiver
            android:name=".timerserver.ServiceFiveTimer"
           >
            <intent-filter>
                <action android:name="com.keruiyun.saike.timerserver.ServiceFiveTimer"></action>
            </intent-filter>
        </receiver>

        <receiver android:name=".timerserver.AlarmReceiver">
            <intent-filter>
                <action android:name="com.keruiyun.saike.timerserver.AlarmReceiver"></action>
            </intent-filter>
        </receiver>
    </application>

</manifest>